<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off">

	<variable name="logDirectory" value="${currentdir}/logs/" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target xsi:type="File" 
				name="allfile" 
				filename="${logDirectory}/${shortdate}.log" 
				deleteOldFileOnStartup="true" 
				concurrentWrites="true" 
				layout="${longdate}  |  ${level}  |  ${logger}  |  ${message}  |  ${stacktrace}"/>

		<target xsi:type="Console" 
				name="Console" 
				layout="${longdate}  |  ${logger}  |  ${level}  |  ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Trace" writeTo="Console" />
	</rules>
</nlog>